body {background-color: black}
img {background:#996600; padding: 5px; border-top: 10px;}
h1 {color: #996600; font-size: 70px}
p {color: #996600; font-size: 30px} 
a:link {color: #ff9900; text-decoration: none}
a:visited {color: #996600;text-decoration: none}
a:hover{text-decoration: none; color:#FFFFFF;}
a {font-size: 30px}

