span {text-align: center; letter-spacing: 20px; }
h1 {letter-spacing: 100px; text-align: right; font-size: 25px}
p {font-style: oblique;}
.uppercase {text-transform: uppercase;}
.text {text-align: right; font-style: oblique; font-size: 30px}
.east {text-align: right;}
.center {text-align: center;}