.large {border: 40px solid black;text-align: center;padding: 10px; font-style: italic;}
.med {border: 25px solid black;text-align: center;padding: 10px;font-style: italic;} 
.small {border: 15px solid black;text-align: center;padding: 10px;font-style: italic;}
.tiny {border: 9px solid black;text-align: center;padding: 10px; font-family: impact; letter-spacing: 10px;}


a:visited {text-decoration: none}

.stars a {
    display: block;
    color:#fdde81;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    margin: 5%;
    position: fixed;
   }
   
a:hover {color: #FFFFFF; -webkit-stroke-width: 5.3px;
      -webkit-stroke-color: #FFFFFF;
      -webkit-fill-color: #FFFFFF;
      box-shadow: 1px 0px 20px yellow; }
.stars a:hover {background: #fdde81}

/*placement*/
.one {right: -10px; bottom: -55px ;
  line-height: 75px;
      width: 70px;
    height: 70px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background-color: #fdde81;}

.two { right: -80px; bottom: -40px ;
	 height:40px;
     width:80px;
     border-radius: 80px 80px 0 0;
     -moz-border-radius: 80px 80px 0 0;
     -webkit-border-radius: 80px 80px 0 0;
     background:#fdde81;
     	-ms-transform: rotate(90deg); 
    -webkit-transform: rotate(90deg); 
    transform: rotate(90deg);
 	}
.three { bottom: -40px ;
	right: 50px;
	 height:40px;
     width:80px;
     border-radius: 80px 80px 0 0;
     -moz-border-radius: 80px 80px 0 0;
     -webkit-border-radius: 80px 80px 0 0;
     background:#fdde81;
     	-ms-transform: rotate(270deg); 
    -webkit-transform: rotate(270deg); 
    transform: rotate(270deg);}
