


body{ position: relative; background-color: black}

#stars a {
    display: block;
    width: 70px;
    height: 70px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background-color: #FBD04D;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 2em;
    text-align: center;
    line-height: 80px;
    margin: 5%;
    position: absolute;
   }
a:hover {color: #FFFFFF; -webkit-stroke-width: 5.3px;
      -webkit-stroke-color: #FFFFFF;
      -webkit-fill-color: #FFFFFF;
      box-shadow: 1px 0px 20px yellow; }
#stars a:hover {background: #FFF08F}

/*placement*/
.one {left: 40px;}
.two {left: 800px}