h4 {position: absolute; top: 213px;}
.con {height: 200px; width: 500px; padding: 20px; position: relative;}
.text {position: absolute; right: 0;}
.test {position: absolute; right: 0; top: 30px; }
span {float: right;}
.window {border: 2px solid; width: 250px; height: 300; position: relative; padding-left: 10px}
.mix {position: absolute; top: 140px;}
