.center {text-align: center}
.stretch {letter-spacing: 20px; font-size: 20px}
.color {color:#FBD71A;}
.blue {color: #33CCFF}
.red {color:#C20715}
.font {font-family: sans-serif;}
body {background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 19%, rgba(241,255,138,1) 38%, rgba(102,58,153,1) 69%, rgba(0,36,61,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(19%, rgba(255,255,255,1)), color-stop(38%, rgba(241,255,138,1)), color-stop(69%, rgba(102,58,153,1)), color-stop(100%, rgba(0,36,61,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 19%, rgba(241,255,138,1) 38%, rgba(102,58,153,1) 69%, rgba(0,36,61,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 19%, rgba(241,255,138,1) 38%, rgba(102,58,153,1) 69%, rgba(0,36,61,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 19%, rgba(241,255,138,1) 38%, rgba(102,58,153,1) 69%, rgba(0,36,61,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 19%, rgba(241,255,138,1) 38%, rgba(102,58,153,1) 69%, rgba(0,36,61,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00243d', GradientType=0 );}




a:visited {text-decoration: none}

.stars a {
    display: block;
    color:#fdde81;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    margin: 5%;
    position: fixed;
   }
   
a:hover {color: #FFFFFF; -webkit-stroke-width: 5.3px;
      -webkit-stroke-color: #FFFFFF;
      -webkit-fill-color: #FFFFFF;
      box-shadow: 1px 0px 20px yellow; }
.stars a:hover {background: #fdde81}

/*placement*/
.one {right: -10px; bottom: -55px ;
  line-height: 75px;
      width: 70px;
    height: 70px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background-color: #fdde81;}

.two { right: -80px; bottom: -40px ;
	 height:40px;
     width:80px;
     border-radius: 80px 80px 0 0;
     -moz-border-radius: 80px 80px 0 0;
     -webkit-border-radius: 80px 80px 0 0;
     background:#fdde81;
     	-ms-transform: rotate(90deg); 
    -webkit-transform: rotate(90deg); 
    transform: rotate(90deg);
 	}
.three { bottom: -40px ;
	right: 50px;
	 height:40px;
     width:80px;
     border-radius: 80px 80px 0 0;
     -moz-border-radius: 80px 80px 0 0;
     -webkit-border-radius: 80px 80px 0 0;
     background:#fdde81;
     	-ms-transform: rotate(270deg); 
    -webkit-transform: rotate(270deg); 
    transform: rotate(270deg);}
